body{
  height: 100vh;
  background: linear-gradient(90deg, rgba(58,132,180,1) 0%, rgba(142,226,200,1) 50%, rgba(90,69,252,1) 100%);
}

#root{
  height: 100%;
}

.App{
  padding-top: 100px;
  color: white;
}

.all-products{
  height: 100%;
  align-content: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

li{
  list-style-type: none;
}

.header{
  height: 150px; 
  padding: 70px; 
  text-align: center;
  font-size: 18pt;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 3fr)); 
  grid-gap: 1rem;
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  align-content: center;
}

.MuiAppBar-root{
  z-index: 1 !important;
}

.modalImageContainer{
  text-align: center;
  align-content: center;
  padding: 5px;
  height: 300px;
  overflow: hidden;
}

.productImageContainer{
  padding: 5px;
  overflow: hidden;
}

.productDetails{
  background-color: #484848;
  padding: 10px;
  height: 100%;
  border-radius: 8px;
}

.productTitle{
  height: 90px;
}

.viewProductButton{
  position: relative;
  bottom: 0;
}

.message {
  color: green;
  font-size: 18pt;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  width: 30em;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.result-message-hidden{
  visibility: hidden;
}

.nav-tabs {
  color: white !important;
  font-size: 14px;
  font-weight: bold;
}

.nav-link.active{
  color: white !important;
  background-color: #484848 !important;
  border: none !important;
}

.checkout{
  height: 400px;
  padding: 12px;
  overflow: scroll;
}

.checkoutItem{
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin: 5px;
}

.shopping-cart{
  align-content: center;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  font-size: 14pt;
}

.checkoutFooter{
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: right;
  align-content: right;
}

.checkoutFooter button{
  max-width: 300px;
  margin: 0 auto;
}

.noItemsDiv{
  background-color: white;
  color: black;
  height: 200px;
  padding-top: 50px;
}

.total{
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.checkoutStep{
  background-color: white;
  color: #484848;
  padding: 35px;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

#payment-form{
  background-color: red;
  padding: 20px;
  max-width: 450px;
  margin: 0 auto;
}

.itemReviewLastStep{
  height: auto;
  max-height: 300px;
  overflow: scroll;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

#card-element{
  width: 100%;
}

.checkoutBreakdown{
  text-align: right;
  padding: 10px;
}

.breakdownHeader{
  height: 2px;
  background-color: white;
}

.soldTag{
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 2px;
}

#checkoutConfirmation{
  color: #484848;
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

.MuiTextField-root{
  width: 100% !important;
  padding: 5px !important;
}

.MuiInputLabel-animated{
  padding: 5px !important;
}

.paymentStep{
  background-color: white;
  color: #484848;
  padding: 35px;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

.leftButton{
  float: left;
}

.rightButton{
  float: right;
}






