#all-products{
  font-size: 20pt;
  align-content: center;
  text-align: center;
}

li{
  list-style-type: none;
}

#header{
  align-content: center;
  text-align: center;
  height: 150px;
}

.grid-container {
  display: grid;
/*  grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
*/    
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: auto;
}

.message {
  color: green;
  font-size: 18pt;
}

.checkout{
  font-size: 20pt;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  width: 30em;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.payment-form{
  max-width: 600px;
}

.shopping-cart{
  align-content: center;
  text-align: center;
}



