

.all-products{
  align-content: center;
  text-align: center;
  background-color: black;
}

li{
  list-style-type: none;
}

.header{
  background-color: black; 
  height: 190px; 
  padding: 70px; 
  text-align: center;
  color: white;
  font-size: 18pt
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr)); 
  grid-gap: 1rem;
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  align-content: center;
/*  background-color: black;
*/}

.product{
/*  background-color: blue;
*/}

.modalImageContainer{
  text-align: center;
  align-content: center;
}

.productDetails{
  background-color: red;
  padding: 20px;
  height: 100%;
  border-radius: 8px;
}

.message {
  color: green;
  font-size: 18pt;
}

.checkout{
  font-size: 20pt;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  width: 30em;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.payment-form{
  max-width: 600px;
}

.shopping-cart{
  align-content: center;
  text-align: center;
}

.result-message-hidden{
  visibility: hidden;
}

.nav-tabs {
  color: #3c5a78;
  font-size: 14px;
  font-weight: bold;
}

.checkout{
  background-color: red;
  margin-top: 6%;
  padding: 10%;
}





